[user]
name = yuta-nishi
email = ypmtk437.0209@gmail.com

[core]
editor = vim
pager = delta

[interactive]
diffFilter = delta --color-only

[include]
path = ~/dotfiles/catppuccin.gitconfig

[delta]
features = catppuccin-mocha
light = false
line-numbers = true
navigate = true
side-by-side = true

[pull]
default = current
prune = true
rebase = false

[init]
defaultBranch = main

[push]
autoSetupRemote = true
default = simple
followTags = true

[tag]
sort = version:refname

[branch]
sort = -committerdate

[commit]
verbose = true

[rerere]
autoupdate = true
enabled = true

[rebase]
autosquash = true
autostash = true
updateRefs = true

[column]
ui = auto

[fetch]
all = true
prune = true
pruneTags = true

[merge]
conflictStyle = zdiff3

[diff]
algorithm = histogram
colorMoved = plain
mnemonicPrefix = true
renames = true

# For use in DevContainer
[safe]
directory = /workspace

[help]
autocorrect = prompt
